<!-- inventory/item_list.html -->

{% extends 'website/base.html' %}

{% block title %}
    Backoffice - Gestione Inventario
{% endblock %}

{% block content %}
    <h1>Backoffice - Gestione Inventario</h1>

    <a href="{% url 'inventory_create' %}" class="btn btn-primary">Aggiungi nuovo oggetto</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantità disponibile</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.available_quantity }}</td>
                <td>
                    <a href="{% url 'inventory_detail' item.pk %}" class="btn btn-info">Dettagli</a>
                    <a href="{% url 'inventory_update' item.pk %}" class="btn btn-warning">Modifica</a>
                    <a href="{% url 'inventory_delete' item.pk %}" class="btn btn-danger">Elimina</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
