{% extends "backoffice/backoffice_base.html" %}
{% load static %}

{% block dashboard_app %}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="h4">Ordini</h2>
        <button class="btn bg-dark text-white" type="button" data-bs-toggle="modal" data-bs-target="#createOrderModal">
            Aggiungi Ordine
        </button>
    </div>

    <!-- Modal per la creazione di un ordine -->
    <div class="modal fade w-80" id="createOrderModal" tabindex="-1" aria-labelledby="createOrderModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createOrderModalLabel">Nuovo Ordine</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ create_form.as_p }}
                        <button type="submit" name="create_order" class="btn bg-dark text-white">Crea Ordine</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Campo di ricerca -->
    <div class="mb-4">
        <input type="text" id="searchInput" class="form-control" placeholder="Cerca ordine...">
    </div>

    <!-- Tabella degli ordini -->
    <div>
        <h3 class="h5">Lista Ordini</h3>
        <table id="orderTable" class="table table-bordered w-100">
            <thead class="table-dark">
                <tr>
                    <th style="width: 10%;">Fattura</th>
                    <th>Fornitore</th>
                    <th style="width: 35%;">Prodotto</th>
                    <th>Quantità</th>
                    <th>Prezzo Unità</th>
                    <th>Data Ordine</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr class="order-item">
                        <td><a class="link-secondary" href="{% url 'inventory:invoice_detail' invoice_type='order' invoice_number=order.order_invoice_number %}">{{ order.order_invoice_number }}</a></td>
                        <td>{{ order.supplier }}</td>
                        <td>{{ order.product.name }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>€{{ order.unit_price|floatformat:2 }}</td>
                        <td>{{ order.sale_date|date:"d/m/Y" }}</td> 
                        <td>
                            <div class="btn-group" role="group">
                                <a href="{% url 'inventory:order_detail' order.id %}" class="btn btn-sm btn-outline-dark">
                                    <i class="fas fa-edit"></i> 
                                </a>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">Nessun ordine disponibile.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Script di ricerca -->
{% block extra_js %}
<script>
    $(document).ready(function () {
        var debounce = function(func, wait) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                clearTimeout(timeout);
                timeout = setTimeout(function() {
                    func.apply(context, args);
                }, wait);
            };
        };

        $('#searchInput').on('input', debounce(function () {
            var query = $(this).val().toLowerCase();
            $('.order-item').each(function () {
                var orderText = $(this).text().toLowerCase();
                $(this).toggle(orderText.indexOf(query) > -1);
            });
        }, 300));
    });
</script>
{% endblock extra_js %}
{% endblock dashboard_app %}
